<main class="homepage">
  <!--<div class="jumbotron jumbotron-fluid">-->
  <div class="container">
    <p>Greetings this is Group 30s Final Project!</p>
    </div>
  <img src="/assets/images/img1.jpg" alt="nature image">
</main>